[2017-03-08 20:46] ChaseFlorell opened #1 "API Change to disable floating labels."
## Feature Request:
API Change to disable floating labels. This will aid developers who want to use the control but continue to use their standard labels.

[code]

Should default to `true`.

Android should be straight forward, just call `HintEnabled=Element.IsLabelFloating`

iOS will just hook into the animation trigger of the FloatedLabel.

[2017-03-08 21:00] ChaseFlorell opened #2 "Events `Focused` and `Unfocused` do not fire."
## Bug
Events `Focused` and `Unfocused` do not fire.

* Version Number of Control: 1.0.0.2
* Device Tested On: Any
* Simulator Tested On: Any

### Expected Behavior
Tapping in an XfxEntry or XfxComboBox should invoke the `Focus` event.
Tapping out of an XfxEntry or XfxComboBox should invoke the `UnFocus` event.

### Actual Behavior
Neither event is called

### Steps to reproduce the Behavior
Perfo

[2017-03-08 21:02] ChaseFlorell opened #3 "XfxPicker"
## Feature Request:
Create a Picker control that mimics the existing `Xamarin.Forms.Picker` but also includes a floating label and error messaging.

An added bonus would be to use the forthcoming bindable picker.

[2017-03-14 17:37] rmawani opened #4 "XfxEntry not masking when IsPassword=true in Xamarin.Forms Android"
## Bug
There seems to be a bug within XfxEntry, whereby the control will not mask input when `IsPassword=true` in Xamarin.Forms Android.

* Version Number of Control: 1.0.0.2
* Device Tested On: Samsung Galaxy S5 (Android 6.0) and S6 (Android 7.0)
* Simulator Tested On: Nexus 5 (Android 6.0) and Nexus 6 (Android 7.0)

### Expected Behavior
XfxEntry Control should mask the field when the `IsPasswor

[2017-03-14 18:08] ChaseFlorell commented on #4
Good catch. Is this blocking you? I think I can look at it in the next day or so.

[2017-03-14 18:31] rmawani commented on #4
Thanks for the great control, by the way!

Although it is blocking me somewhat, I can live with it for the time being until you're able to get around to fixing it in the next few days.

Thanks again!

[2017-03-18 22:31] ChaseFlorell commented on #4
Fixed in commit b703f65

[2017-03-18 22:34] #4 closed

[2017-03-18 22:42] ChaseFlorell commented on #4
@rmawani feel free to head over to Nuget and grab the latest build 😄

[2017-03-19 02:09] rmawani commented on #4
Thanks for the fix, Chase... The masking works perfectly and as advertised in your Example app. However, when I build my own app with the latest build (1.0.1.3) of Xfx.Controls, I still have no masking.

I figured it might be because I've implemented the control in a Shared project environment as opposed to PCL, so I created a bare-bones PCL Solution and dropped an XfxEntry control onto the defaul

[2017-03-19 03:43] ChaseFlorell opened #5 "Need Build Scripts"
## Feature Request:
Due to my own incompetence, I've decided that even this little project needs a build script. I'd like to use this opportunity to use something other than PowerShell, so I've decided to use cake for this one.

[2017-03-19 03:48] ChaseFlorell commented on #4
Well it's entirely my fault (PEBKAC)... As A result, I've opened issue #5 and also uploaded build 1.0.1.4 to nuget (which will be live shortly) Please test that version.

I did all of my testing in debug mode and forgot to create a release build. I'm so used to using build scripts that I didn't even think of it when I created that package (which re-used the old 1.0.0.2 build)

Whoops!

[2017-03-19 03:53] ChaseFlorell opened #6 "XfxEntry and XfxComboBox colors"
## Bug

* Version Number of Control: 1.0.1.4
* Device Tested On: Any Android
* Simulator Tested On: Any Android

### Expected Behavior
Setting Placeholder color will set the color of the placeholder

### Actual Behavior
Setting the Placeholder color has no effect

### Steps to reproduce the Behavior
Try to set the color of a placeholder

## Feature Request:
There's also a feature request attached.

[2017-03-19 23:34] rmawani commented on #4
Thanks again, Chase!

As much as the password masking issue is resolved, it seems like the fix may have introduced another weird bug that suppresses any text that is pre-loaded into the `Text` Property at runtime. For example, during testing, let's say I would like to pre-populate the XfxEntry with the User's email address instead of having to re-type it every time. This text does not show up on a

[2017-03-20 00:13] ChaseFlorell commented on #4
@rmawani is this still only Android?

[2017-03-20 01:38] ChaseFlorell commented on #4
@rmawani, I think I have a fix but I don't want to risk another crappy upload to nuget. Can you test from here? If you're satisfied, I'll publish to nuget.

https://github.com/XamFormsExtended/Xfx.Controls/releases/tag/1.0.2

[2017-03-20 01:44] ChaseFlorell commented on #1
This is done in a separate branch, forgot to setup tracking... whoops.

[2017-03-20 01:44] #1 closed

[2017-03-20 01:45] ChaseFlorell commented on #5
Completed in 66b1745

[2017-03-20 01:45] #5 closed

[2017-03-20 01:54] dphable opened #7 "Current Text value gets lost when model properties are already populated."
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Bug

* Version Number of Control: 1.0.1.4
* Device Tested On: Nexus 6P
* Simulator Tested On: n/a

### Expected Behavior
Model property values are displayed in XfxEntry control upon page load.

### Actual Behavior
Model property values are not displayed.

### Steps to reproduce the Behavior

[2017-03-20 01:56] ChaseFlorell commented on #7
Thanks for the report @dphable. Can you try V1.0.2 from Nuget? I think this is solved.

[2017-03-20 01:56] ChaseFlorell commented on #7
Note, there is discussion about this here
https://github.com/XamFormsExtended/Xfx.Controls/issues/4#issuecomment-287664800

[2017-03-20 02:06] dphable commented on #7
Yes, it is working now.  Thanks!

[2017-03-20 02:06] #7 closed

[2017-03-20 14:42] rmawani commented on #4
Thanks for the fix, @ChaseFlorell. This one works as expected!

Thanks again!

[2017-03-27 13:58] elyfran commented on #6
+1

[2017-03-30 10:28] sander1133 opened #9 "IsEnabled not working for XfxEntry"
## Bug

* Version Number of Control: 1.0.2.0
* Device Tested On: Samsung Galaxy S6
* Simulator Tested On: Any android

### Expected Behavior

Changing IsEnabled to False will update the Entry to a disabled state

### Actual Behavior

Field is still enabled

### Steps to reproduce the Behavior

Try set IsEnabled to False

## Feature Request:

Update Render so it will listen to IsEnabled updates

Ki

[2017-03-31 21:42] BryanSan commented on #6
Any progress in this bug?:(

[2017-03-31 21:44] ChaseFlorell commented on #6
None yet. It actually takes a bit of planning to figure out how I want to handle all of the states.

On Fri, Mar 31, 2017 at 2:42pm, Bryan Sanchez < notifications@github.com [notifications@github.com] > wrote:
Any progress in this bug?:(

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub [https://github.com/XamFormsExtended/Xfx.Controls/issues/6#is

[2017-03-31 21:45] BryanSan commented on #6
Can i help you, or you wanna to handle this bug yourself? I need this functionality :(

[2017-03-31 21:53] ChaseFlorell commented on #6
I'm keen on the help for sure!

So I was originally thinking we'd use `HighlightColor`, but I'm wondering if we piggyback off of "Focus", and therefore have a `FocusedColor` and an `UnfocusedColor` (though I'm definitely open to suggestions).

These would set the color of the floated label and the underline. The default FocusedColor should should be `Color.Accent` and the default `UnfocusedColor`

[2017-03-31 22:03] BryanSan commented on #6
Okey i will see what can i do, if i able to get any progress i will tell you :D

[2017-04-03 16:25] ChaseFlorell commented on #9
I've submitted a possible fix a89b57e499df28655cc77be9ae75a0a370b7c192

Is there any way for you to test this without me creating a new release?

_note: you can create a build from your powershell command line by running_

[code]

[2017-04-03 16:54] #9 closed

[2017-04-03 22:40] ChaseFlorell commented on #2
Fixed in af4c8f1677a8756527dee5bebeffb89656cf8ae8

[2017-04-03 22:40] #2 closed

[2017-04-10 00:52] ChaseFlorell opened #10 "XfxCardView"
## Feature Request:
New Xfx.CardView control

[code]

[2017-04-17 16:45] ChaseFlorell opened #11 "Core lib to support .NETStandard"
## Bug

Adding Xfx.Controls to a Profile259 project fails because Profile111 isn't compatible.

* Version Number of Control: 1.0.3
* Device Tested On: n/a
* Simulator Tested On: n/a

### Expected Behavior

Project should install nuget package into a Profile259 project

### Actual Behavior

Error message says that Profile111 isn't compatible.

### Steps to reproduce the Behavior

 - create PCL with

[2017-04-17 18:34] ChaseFlorell commented on #11
Fixed in fddfe250ffc5c97438461e3374dff9a708eeef38

[2017-04-17 18:34] #11 closed

[2017-04-17 18:57] ChaseFlorell opened #12 "UWP Support"
## Feature Request:

Looking for help on getting these controls working on the UWP platform

[2017-04-17 18:58] ChaseFlorell opened #13 "Mac Support"
## Feature Request:

Looking for help getting these controls working on Mac

[2017-04-18 01:25] ChaseFlorell commented on #10
Completed in 726da9eb5b6f3e7db6255124fa08057927092402

[2017-04-18 01:25] #10 closed

[2017-04-20 04:12] mojics opened #14 "Xamarin Studio support for Mac"
Opening the project on Mac Xamarin Studio shows an error of "Project does not support framework '.NETPortable,Version=v5.0'"

## Bug

* Device Tested On: Xamarin Studio for Mac

### Expected Behavior
It should open the project normally

### Actual Behavior
Shows an error : Project does not support framework '.NETPortable,Version=v5.0'

### Steps to reproduce the Behavior
By opening the project sol

[2017-05-07 11:19] akshayhalasangi opened #15 "Please add an example to demonstrate two comoboxes with different dataset filtering"
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Feature Request:
Please fill in what you would like
Please add an example to demonstrate two comoboxes with different dataset filtering

[2017-05-12 00:36] ChaseFlorell commented on #15
essentially in your ViewModel, you'll have two observable collections that you bind to. _I'm not going to write the binding code, I'll leave that up to you._

[code]

[code]

[2017-05-12 00:36] #15 closed

[2017-05-12 00:39] ChaseFlorell commented on #6
@BryanSan did you get anywhere with this?

[2017-05-12 01:27] BryanSan commented on #6
No :/ i didn't any useful, I will keep trying when I get some free time

Enviado desde mi iPhone

El may. 11, 2017, a las 7:39 PM, Chase Florell <notifications@github.com<mailto:notifications@github.com>> escribió:

@BryanSan<https://github.com/bryansan> did you get anywhere with this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://git

[2017-05-12 01:54] ChaseFlorell commented on #14
<img width="1243" alt="screen shot 2017-05-11 at 6 53 44 pm" src="https://cloud.githubusercontent.com/assets/471626/25979111/4ab2bb7a-367b-11e7-9fa7-b89875b7f22b.png">

[2017-06-05 09:42] e-nathan opened #16 "Can't set x:Name property to xfx Combobox"
## Bug

* Version Number of Control: 1.0.4
* Device Tested On: YU Yuphoria
* Xamarin Forms Version: 2.3.3.193
* Simulator Tested On:

### Expected Behavior

Set x:Name property to Combobox, so I can access the control in the codebehind xaml.cs page.

### Actual Behavior

Setting `x:Name` property results in the following error

`_Error: Sampling.Home.xaml.g.cs: error CS0400: The type or namespace

[2017-06-12 13:58] juanagu opened #17 "iOS - not found XfxControls"
Hi, I try initialize XfxControls.Init(); in AppDelegate, but not found XfxControls.

[2017-06-12 14:00] #17 closed

[2017-06-12 14:00] juanagu commented on #17
reinstall package in iOS project and work 👍

[2017-06-12 14:15] juanagu opened #18 "How change label color activated on iOS?"
For android use accent color. But i don't know how change the color for iOS.

[2017-06-12 15:00] ChaseFlorell commented on #18
This is an issue we have and is sort of outlined in #6. I just need to find time to implement it.

[2017-06-12 15:00] #18 closed

[2017-06-22 09:29] closetoyou293 opened #19 "Dropdown view position is at wrong position when combobox is not a direct child of scroll view"
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Bug

* Version Number of Control: latest
* Device Tested On: iOS simulator
* Simulator Tested On: iOS simulator

### Expected Behavior
Dropdown view should be shown below combobox
### Actual Behavior
Dropdown view is shown at the top of scrollview
### Steps to reproduce the Behavior
place c

[2017-06-22 16:16] ChaseFlorell commented on #19
I do recall fighting with this when I built it, however I thought I had it licked.
Can you please comment back with your layout for a repro?

Is this it?
[code]

[2017-06-22 16:28] closetoyou293 commented on #19
It happened in 3 case
1. Place Combobox in second layer
<ContentPage>
    <ScrollView>
        <StackLayout>
            <StackLayout>
                <xfx:XfxComboBox />
           </StackLayout>
        </StackLayout>
    <ScrollView>
</ContentPage>
2. Place combobox in custom control then place that control in scrollview
<ContentView>
    <Grid>
        <xfx:XfxComboBox />
    </Grid>
</Content

[2017-06-22 16:49] ChaseFlorell commented on #19
I've got views with exactly that, and "it works on my machine", however point 3 intrigues me. I'll have to test that one.

[2017-06-30 07:46] 14skywalker opened #20 "suggestion xfxEditor"
Title says it all: we would welcome a xfxEditor

[2017-06-30 15:49] jhonatanfernando commented on #16
Same error here, any news?

[2017-07-01 00:30] ChaseFlorell commented on #19
@closetoyou293 what I really need here is what your markup looks like. Can you just copy/paste the relevant XAML?

[2017-07-01 00:46] ChaseFlorell commented on #16
I cannot reproduce this. Can you please send me a repro?

[2017-07-02 01:03] ChaseFlorell commented on #20
@14skywalker I like the idea. Are you simply looking for an Editor with floated labels and an error message, or do you envision more?

[2017-07-02 13:42] closetoyou293 commented on #19
`<?xml version="1.0" encoding="UTF-8"?>
<ContentView xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:forms="clr-namespace:FFImageLoading.Forms;assembly=FFImageLoading.Forms"
             xmlns:xfx="clr-namespace:Xfx;assembly=HomeCreditMock"
             x:Class="Test.Controls.CustomCombobox">

        <Grid x:Name

[2017-07-02 13:47] closetoyou293 commented on #19
<test:RelativeInfoXaml x:Class="Test.RelativeInfoPage"
                       xmlns="http://xamarin.com/schemas/2014/forms"
                       xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
                       xmlns:abstractions="clr-namespace:RoundedBoxView.Forms.Plugin.Abstractions;assembly=RoundedBoxView.Forms.Plugin.Abstractions"
                       xmlns:controls="clr-namesp

[2017-07-02 13:53] closetoyou293 commented on #19
That scroll view is placed in ContentView. Please put some control so that combobox is only shown when you scroll down, then you will see the bug I mentioned.
Sorry for bad format in my comment :)

[2017-07-02 18:39] 14skywalker commented on #20
Hi @ChaseFlorell, interesting that you ask. We were also looking for an editor that would increase in height when needed. Like this: https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B5ZSepuCX1xOVEhXVDltQzgzQzA/TextFields-MultiLine-Long-01.mp4

[2017-07-03 16:30] ChaseFlorell commented on #20
@14skywalker you can actually do that now by first [measuring the length of the text](https://gist.github.com/rudyryk/7b9633e847e727d12de7) and adjusting the `HeightRequest` when the height changes. For added pizazz, I would use an [`Animation`](https://developer.xamarin.com/guides/xamarin-forms/user-interface/animation/custom/) to adjust the height.

[2017-07-04 07:16] 14skywalker commented on #20
Thanks @ChaseFlorell, This would mean that the XfxEditor would only add the possibility to use new lines in the input? That is something we can live without.

[2017-07-04 11:38] 14skywalker commented on #20
I now see that with "you can do that now" you mean with the Editor (not currently in combination with a floating label). Meaning: We still would welcome an XfxEditor.

[2017-07-04 14:54] ChaseFlorell commented on #20
Yes that's correct. We can do the editor sizing now using a behavior. The floated labels would need implementing.

[2017-07-05 09:39] 14skywalker commented on #20
I did make a start with an XfxEditor and Android renderer, but I could not make the `EditorEditText` inside the `TextInputLayout` to use more space than one line. By the way, the `EditorEditText` is more protected than the `EditText` that is used by the XfxEntry on android. I needed reflection to get to the constructor. Maybe there is a better way... So, for what it is worth:

[XfxEditor.cs](https

[2017-07-10 07:49] danieleorlando opened #21 "XfxEntry not clickable inside ViewCell"
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Bug

* Version Number of Control: latest
* Device Tested On: Nexus 5x 7.1.2
* Simulator Tested On: Android Emulator

### Expected Behavior
XfxEntry editable

### Actual Behavior
XfxEntry is not clickable

### Steps to reproduce the Behavior
[code]

[2017-07-15 14:30] BryanSan opened #22 "Null Reference exception in XfxEntryRendererDroid"
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Bug
I received a hockey app crash report like 4 times, just a null reference exception, its happen only in Android.

android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object

Xfx.Controls.Droid.Renderers XfxEntryRendererDroid ge

[2017-08-28 00:00] ChaseFlorell commented on #14
Fixed in fef38f3

[2017-08-28 00:00] #14 closed

[2017-08-28 00:06] ChaseFlorell commented on #16
I tested again to reproduce this error and could not. If you continue to have this issue, please re-open this ticket and include a reproduction either via ZIP or in a github repo.

[2017-08-28 00:06] #16 closed

[2017-08-28 00:27] ChaseFlorell commented on #22
I've added a null check here but I cannot reproduce the issue. I suggest getting a repro and I will fix it.

Closing with 4edf928

[2017-08-28 00:27] #22 closed

[2017-08-28 17:03] ChaseFlorell commented on #6
Just a note to say this hasn't fallen off the tracks yet. It is hard however to find time, and every time I go to tackle it I get overwhelmed with Xamarin Forms `internal` and `sealed` classes.

[2017-09-18 07:05] DevAnkur commented on #6
I am not sure if this might help, but I modified the cursor color, default hint color, and text color when activated like this:

                      IntPtr intPtrtextViewClass = JNIEnv.FindClass(typeof(EditText));
			IntPtr mCursorDrawableResProperty = JNIEnv.GetFieldID(intPtrtextViewClass, "mCursorDrawableRes", "I");

    //By Setting the value as 0, the color of the cursor will be same as the

[2017-09-18 18:49] ChaseFlorell commented on #6
@DevAnkur does this require anything special in the app styles xml or can it be fully programmatic? I'd be interested in a PR if you have time. I can handle the iOS stuff if you want to PR the Android stuff.

[2017-09-21 10:30] Thavudu opened #23 "Custom Object Collection"
I am trying to set Observable collection of my custom object (two string properties), and below is the algorithm property I set. Suggestions are not being showed. Also I have to fill my itemsource from backend based on the string entered in the Entrybox. Am I missing anything here?

**Item Source**
[code]
**Algorithm**
[code]
**SearchEntity**
[code]
**Xaml**
[code]

[2017-09-21 13:48] Thavudu opened #24 "Changing/Updating Itemsource at Runtime"
How can I change the Itemsource property in Runtime? I am fixing threshold in xamal to 8, When the selected item text reached 7; I want to change the Itemsource. Based on the new Itemsource the algorithm should be executed and show the result. Is't possible with this plugin?

[2017-09-22 09:52] DevAnkur commented on #6
@ChaseFlorell , sorry for late reply. For changing the placeholder color and text color, we won't require style.xml, it is fully programmatic.

I will try to work on PR over the weekend but I can't commit as I am a bit occupied with office work.

[2017-09-22 14:47] ChaseFlorell commented on #23
Your SortingAlgorithm has to have the following signature

[code]

So try something like this.

[code]

[2017-09-22 14:48] ChaseFlorell commented on #24
This is addressed in #23 if I'm reading this correctly. If you want to fully update the items source, you just set it in your code behind.

[2017-09-22 14:48] #24 closed

[2017-09-22 14:49] ChaseFlorell commented on #6
Whatever you can do I appreciate. I'm also tied up on other tasks and haven't been able to fully commit to this lately.

[2017-09-29 03:59] Thavudu commented on #24
@ChaseFlorell  Thank you for helping me. I have tried and changed the complete datasource at runtime, but still suggestions are not being shown. below is the code.

**Xaml**
<xfx:XfxComboBox x:Name="cmbText"  Text="{Binding SelectedName}"
                             ItemsSource="{Binding SuggestionItemSource}"
                              SortingAlgorithm="{Binding SortingAlgorithm}" WidthReques

[2017-10-05 10:51] Mushtaq123 opened #25 "Autocomplete suggestions positioned in wrong position"
Please fill out either the bug or feature request section and remove whatever section you are not using.

## Bug

* Version Number of Control: Latest
* Device Tested on: iPhone  5s
* Simulator Tested on: iPhone 7 Plus - iOS 11.0

### Expected Behavior
**XfxComboBox** should show the suggestions above or below the entry based on its position.
### Actual Behavior
**XfxComboBox** should not show the

[2017-10-05 20:42] ChaseFlorell commented on #25
@Mushtaq123 I cannot see the screenshot, could you please upload it to the issue directly (instead of linking)? Also, it would be helpful if you can give me a snippet of XML to test.

[2017-10-06 05:26] Mushtaq123 commented on #25
Hi Chase,

The following **xaml** code has been used in my application.

[code]
Find the Screenshot in below link

<a href="https://github.com/Mushtaq123/ErrorBox/blob/master/xfx_ios_bug.png">https://github.com/Mushtaq123/ErrorBox/blob/master/xfx_ios_bug.png</a>
<table>
<tr>
<td>
<img src="https://raw.githubusercontent.com/Mushtaq123/ErrorBox/master/xfx_ios_bug.png" height="700px" width="auto"/>
<

[2017-10-06 16:29] ChaseFlorell commented on #25
I see your issue now and will see what I can do.
I can say that if it were working as expected, your suggestions would show off of the view and  not be visible. Can you try wrapping your StackLayout in a `ScrollView` and get back to me

[2017-10-06 16:31] #23 closed

[2017-10-06 16:33] ChaseFlorell commented on #25
This sounds like a duplicate of #19.

[2017-10-10 12:19] Mushtaq123 commented on #25
Dear Chase,

I have tried with wrapping StackLayout in a ScrollView and the result is same as before informed. Kindly, help me to use this control with Xamarin forms

[2017-10-10 19:31] jariwalahetal commented on #6
Is there any update here?

[2017-10-12 05:19] Mushtaq123 commented on #25
Dear Chase,

Kindly advice on the previous comment posted by me. I need this to be used in my applications.

[2017-10-16 10:31] avinashramireddy-rapidd opened #26 "Wrong position in iphone but proper in android."
![image](https://user-images.githubusercontent.com/16798757/31607450-ffd3c578-b289-11e7-9e08-f6647727ee43.png)

1.This is happening only in ios. Tried with iphone 6, 7plus and X..Same issue on all devices.
2.When I rotate, text is not shown and I think it's moving towards left and cutting at edges(Tested in 6 and 7 plus real devices).

![image](https://user-images.githubusercontent.com/16798757/31

[2017-10-16 16:13] ChaseFlorell commented on #26
This is related to #25

[2017-10-16 16:13] #26 closed

[2017-10-17 07:47] toverux opened #27 "Entry's FontSize is ignored"
## Bug

* Version Number of Control: 1.0.4
* Device Tested On: Android 6 API 23
* Simulator Tested On: Default Android Emulator

### Expected Behavior

FontSize sets the size of the text in the input.

### Actual Behavior

FontSize is ignored.

![image](https://user-images.githubusercontent.com/1343250/31652317-f5df077c-b31e-11e7-87c5-dcfe0d5877ab.png)

Also, notice that on the last example, the b

[2017-10-17 08:01] toverux opened #28 "Entry's error text displayed even if there is no ErrorText set"
## Bug (Feature Request maybe?)

* Version Number of Control: 1.0.4
* Device Tested On: Android 6 API 23
* Simulator Tested On: Default Android Emulator

### Expected Behavior

When `ErrorText` is empty/null, then the container that contains the error text disappears.

### Actual Behavior

The space used for the ErrorText is always there and that eats a LOT of space. I don't know if that's intenti

[2017-10-17 10:14] avinashramireddy-rapidd opened #29 "How to pass selected id which is not shown to the user but used for other purposes(to save to db) behind the scenes"
Hi,
This is very very useful plugin in all XAMARIN FORMS plugins so far.

I have question and stuck with this for a while.

![image](https://user-images.githubusercontent.com/16798757/31658874-f4aa4cd2-b34f-11e7-8f4b-5c7f39b94008.png)

here item source return type has hardcoded List of **string** but I want to select id for the selected item

I see that there is selected item property.
But how do

[2017-10-22 18:36] RudolfVonKrugstein commented on #6
This would be very nice, any updates?

[2017-10-23 13:48] samukbg commented on #6
+1

[2017-10-23 16:42] ChaseFlorell commented on #6
Still super tied up right now. If anyone wants to submit a PR, it'll be greatly appreciated. Otherwise there's going to be a delay until I can dedicate several hours to this one.

[2017-10-23 19:39] jariwalahetal commented on #6
@ChaseFlorell
I would be happy to help. Can you give me initial guidelines where I can start this?

[2017-10-24 20:34] ChaseFlorell commented on #28
Currently this is by design. It's because if you set the error text and currently don't use up the space, then the view will "jump" when the new view is shown. I felt that was less desirable than having the extra space.

[2017-10-24 21:01] toverux commented on #28
But that's still a lot of space :smile:
I think that the "jump" effect is not problematic if the validation messages are shown when the user clicks the submit/save/whatever button. I agree, maybe that's not the best we can imagine, but I'm pretty sure we can do better than a giant blank space.

Or maybe XfxControls' API consumer will have it's own validation system and don't rely on ErrorText.
Per

[2017-10-24 21:12] ChaseFlorell commented on #28
so the layout on Android is the default `TextInputLayout` from the Material design, and that's the margin/padding that comes with it.

Eventually I want to give the user the option of how to display errors (Default or ToolTip), but I'm not sure when that'll be (#6 is my priority right now). If you use "ToolTip", it won't take up the extra space.

I can take a look at #27 to see if there's anything

[2017-10-24 21:33] toverux commented on #28
Yes, no problem, thanks for the ~entry~ input :)

[2017-10-27 08:37] NageshDegil opened #30 "After updating XCode 9 Xfx.ComboBox stops working."
## Bug

* Version Number of Control: 1.0.4
* Device Tested On:
* Simulator Tested On: iPhone 8 Simulator
![unnamed 1](https://user-images.githubusercontent.com/26921042/32095252-2c11dd3e-bb20-11e7-82e7-7d3b487ecf9b.png)

I my case I have 2 Xamarin Pages, on first page when I click on button user wants to navigate to next Page which contains Pin code Combo Box (Below is the code for used ComboBox)

[2017-10-29 10:28] RudolfVonKrugstein commented on #6
For me, it would already be a big help, if the color would be set to the Accent/Tint color on iOS (that is what is actually happening in Android). Because that is actually the default color I want to set it to.

I cannot get the project to compile, still working on that here.

But I think this would do the trick. In the iOS Project in FloatLabeledTextField.cs:

Line 30, add:
[code]
Line 60:
remove

[2017-10-30 05:37] ChaseFlorell commented on #30
do you have any errors you can give?

[2017-10-30 05:37] ChaseFlorell commented on #6
@RudolfVonKrugstein definitely a good stop-gap

[2017-10-30 11:02] NageshDegil commented on #30
[AddProductViewModel.zip](https://github.com/XamFormsExtended/Xfx.Controls/files/1426916/AddProductViewModel.zip)
@ChaseFlorell not getting any error message. Only issue is page not redirecting.

I did some more investigation to find error by replacing my MVVMLight ViewModel to given sample model at that time its working fine.

I don't getting whats the issue persist in code.[

](url)

[2017-10-31 06:09] akhiljain05 opened #31 "Problem in Xfx.Controls"
i made a project using Xfx.Controls but it appear  as normal entity placeholder not change as label
Code Shown Below:
[code]

Please help me

[2017-10-31 08:54] NageshDegil commented on #30
@ChaseFlorell  Can you please help to resolve the issue

[2017-10-31 15:40] ChaseFlorell commented on #31
sorry, I don't follow.
The Email field will change to a label when you start typing
the Password field will not because it's an `Entry`

[2017-10-31 15:42] ChaseFlorell commented on #30
I'm not sure what to do with that `.cs` file. There's no reference to the controls in there.
Can you please post a repro of your issue on github? I can fork it and test.

[2017-10-31 15:45] akhiljain05 commented on #31
Thanks for reply but  Email field also not change to a label when start typing

[2017-10-31 15:50] ChaseFlorell commented on #30
side note: your layout performance will be better with a Grid instead of nested StackLayouts

[2017-10-31 16:21] ChaseFlorell commented on #31
you didn't bring the xfx.Controls library into your iOS or Android app. So it's falling back to a standard entry.

[2017-10-31 16:21] #31 closed

[2017-10-31 16:25] akhiljain05 commented on #31
If i include it in my android project then it give a runtime error

[2017-10-31 16:26] ChaseFlorell commented on #31
I can't help you if you don't give details.

[2017-10-31 16:29] akhiljain05 commented on #31
If i include  xfx.Controls library in my android project then it give a runtime error and break the application on same code

[2017-10-31 16:29] ChaseFlorell commented on #31
Change your MainActivity to `FormsAppCompatActivity`

[2017-10-31 16:32] akhiljain05 commented on #31
Ok i will try and update you

[2017-10-31 17:22] ChaseFlorell commented on #31
you also need to use an AppCompat Theme without an ActionBar

[code]

And these are the packages

[code]

The easiest way to get your packages correct is to remove ALL of the Xamarin and Xfx libraries, and then just install Xfx.Controls... It'll bring in the Xamarin libraries that you need.

[2017-10-31 17:32] RudolfVonKrugstein commented on #6
I added a pull request here: https://github.com/XamFormsExtended/Xfx.Controls/pull/32

It is not as simple as I wrote a few posts up because one has to be careful at what point the Accent color is set.
But the pull request works for me.

[2017-10-31 18:32] ChaseFlorell commented on #6
Merged, thank you @RudolfVonKrugstein .

[2017-10-31 18:33] jariwalahetal commented on #6
@ChaseFlorell Is it fixed?

[2017-10-31 18:49] ChaseFlorell commented on #6
@jariwalahetal no. The merged PR simply makes it so that the color is set to the Accent color on iOS. It is only a stop-gap until we can get the bindings wired up.

[2017-10-31 19:08] RudolfVonKrugstein commented on #28
How would you pass the option ToolTip or underline error? As an enum?

I would like to contribute but would prefer your input on that so I  can do it right.

[2017-10-31 20:01] ChaseFlorell commented on #28
Yes, an Enum would be preferable.

[code]
and then
[code]

Though if you make it bindable, there's a lot of work to do to change it, so at this point I'm recommending it NOT be bindable.

One thing to keep in mind is that iOS doesn't have a mechanism for this at all, so you'll have to add the whole works by hand. Android already has the feature built into the EditText.

https://developer.android.c

[2017-10-31 20:19] ChaseFlorell commented on #29
We use ObservableCollection and subscribe to the `ItemSelected` event.

The `ItemSelected` event contains a `SelectedItemChangedEventArgs` parameter and you can access the result with

`e.SelectedItem.ToString();`

[2017-11-01 11:53] akhiljain05 commented on #31
Thanks a lot it works fine

[2017-11-01 23:29] RudolfVonKrugstein commented on #28
Mmmh, ok. Implementing a Tooltip on iOS is some work. But for now I added a pull request, that should address the original problem in this issue. And it will allow extending by tooltip in the future.

So I added the enum:

[code]

Allowing to remove any Error display.

[2017-11-02 04:52] avinashramireddy-rapidd commented on #29
I will try when I am free this and in the mean time can u provide sample or just add things to my code mentioned above(helps to understand and do it quickly)

[2017-11-02 22:26] ChaseFlorell commented on #29
@avinashramireddy-rapidd I've just made a commit to demonstrate how it's done.

You can either use the event `ItemSelected` and capture it in your codebehind, or you can bind a property to the `SelectedItem` property, and view it from your ViewModel.

https://github.com/XamFormsExtended/Xfx.Controls/commit/332ca2a8ac9744c3fb64def78267786026118018

[2017-11-02 22:27] #29 closed

[2017-11-02 23:37] ChaseFlorell commented on #28
This is fixed in #33, Thanks @RudolfVonKrugstein.

Do you guys think we should cut a patch release with these fixes even though #6 and #25 are outstanding? They're pretty high priority.

[2017-11-02 23:37] #28 closed

[2017-11-04 00:54] RudolfVonKrugstein commented on #28
I would love a release, but that is just my egocentric view. Now it has all the features _I_ want.

[2017-11-11 17:40] ChaseFlorell commented on #30
This issue has been inactive for 10 days and I'm therefore closing. If you can provide a repro of your issue, we can definitely re-open

[2017-11-11 17:40] #30 closed

[2017-11-11 17:43] #25 closed

[2017-11-11 17:44] ChaseFlorell commented on #25
Closed as duplicate of #19

[2017-11-13 10:14] akhiljain05 opened #34 "xfx:XfxEntry cast in EditText"
HI
I am going to cast xfx:XfxEntry to EditText for show hide password but it gives me
` <xfx:XfxEntry Placeholder="Password" IsPassword="true" Text="{Binding Password}">
                <xfx:XfxEntry.Effects>
                   <todo:ShowHidePassEffect />
               </xfx:XfxEntry.Effects>
            </xfx:XfxEntry>`

and casting code : -
`EditText editText = ((EditText)Control);`

It works f

[2017-11-22 07:39] akhiljain05 opened #35 "Toolbar title set center align"
I am coding in Xamarin.Forms, What I supposed to align Toolbar title in the center in my portable project?

[2017-11-23 11:49] NageshDegil opened #36 "Combo box Sorting Algorithm"
### Expected Behavior
While trying to enter input into Combo Box,  Ideal it should predict related List even when I type single character.

### Actual Behavior
Combo Box not predicting for single character, for auto predict have to enter at least 2 characters.

![photo_2017-11-23_17-16-58](https://user-images.githubusercontent.com/26921042/33171593-c042524c-d072-11e7-8fe3-31d6c7fd28ba.jpg)

![phot

[2017-11-23 18:57] ChaseFlorell commented on #36
Hey @NageshDegil, thanks for reaching out.
You can adjust how quickly the combobox kicks in by setting the `Threshold`

[code]

[code]

[2017-11-23 18:57] #36 closed

[2017-11-23 22:39] ChaseFlorell commented on #35
I'm not sure what your question has to do with Xfx.Controls. Can you elaborate?
If you have a specific Forms related question, I suggest you ask it in their forums
https://forums.xamarin.com/categories/xamarin-forms

[2017-11-23 22:39] #35 closed

[2017-11-23 22:44] ChaseFlorell commented on #34
You should be able to access the `XfxEditor` within your effect. Alternatively (and I haven't tested this), what happens in you simply bind `IsPassword`?

[code]

[code]

[2017-11-24 07:22] akhiljain05 commented on #34
Ok i will try your recommendation and revert you back

[2017-11-24 07:22] #34 closed

[2017-11-28 14:57] LariscusObscurus commented on #19
Hi, I was experiencing the same issue and was able to fix it, at least for my specific use-case, by adding the following code into the _Draw(...)_ Method of _MbAutoCompleteTextField_:
[code]

[2017-11-28 23:40] ChaseFlorell commented on #19
@LariscusObscurus are you interested in submitting a PR?

[2017-11-30 13:12] brux88 commented on #28
hi,great work, its possible a release with this fix?

[2017-12-04 09:18] brux88 opened #37 "Request Relase++"
Feature Request:

it is possible to have a relase with the fix ErrorDisplay = "None"

[2017-12-04 23:32] brux88 opened #38 "Change Color"
hi, its possible change color of label and line below?

[2017-12-05 17:40] ChaseFlorell commented on #37
I'm working on a new release this week.

[2017-12-05 17:40] #37 closed

[2017-12-05 17:40] ChaseFlorell commented on #38
see #6

[2017-12-05 17:40] #38 closed

[2017-12-05 20:03] ChaseFlorell commented on #6
I have completed the iOS (read easy) work.
You can track progress in this branch
https://github.com/XamFormsExtended/Xfx.Controls/tree/issue-%236

[2017-12-06 07:40] brux88 commented on #37
thank you ;)

[2017-12-06 07:43] brux88 commented on #6
big work.
but instead is it possible to set the font size of the placeholder?

[2017-12-07 06:30] ChaseFlorell commented on #6
I'm pretty close to being finished this story, however I'm struggling with the underline on Android.
https://github.com/XamFormsExtended/Xfx.Controls/blob/issue-%236/src/Xfx.Controls.Droid/Renderers/XfxEntryRendererDroid.cs#L187

I've asked for help on StackOverflow as I just can't figure this out.
https://stackoverflow.com/q/47688399/124069

[2017-12-11 22:18] ChaseFlorell commented on #6
Finally solved the Android debacle. Had to go pure AppCompat.

[2017-12-11 22:18] #6 closed

[2017-12-12 01:42] ChaseFlorell commented on #37
done

[2017-12-12 14:47] hashimks opened #39 "How to change the placeholder text size in xfxentry"
I am using the latest stable version. Two issues i am facing now are

1. I did not find any property for setting the size of placeholder text. I can set the input text size but not the placeholder text.

2. I need to change the underline color of the entry as it is default taking the color used to tint the widgets which i need to be a different one.

Can you please help me?

[2017-12-12 15:47] ChaseFlorell commented on #39
1) is a duplicate of #27
2) has been solved in yesterday's 1.1.0 release

Setting the Active color is now done via

[code]

[2017-12-12 15:47] #39 closed

[2017-12-12 15:47] ChaseFlorell commented on #27
The problem here is that the Hint text is not being obeyed.

[2017-12-12 21:18] ChaseFlorell commented on #27
Fixed in the develop branch

[2017-12-12 21:18] #27 closed

[2017-12-13 03:15] ChaseFlorell commented on #28
Just following up, V1.1.1 has been released

/cc @RudolfVonKrugstein, @brux88, @toverux

[2017-12-13 07:49] hashimks commented on #39
Thanks :) 👍 . I took the developer build and its working

[2017-12-13 07:52] brux88 commented on #28
thank you very much

[2017-12-13 08:30] hashimks opened #40 "Enhancements for XFX Entry"
Hello,

Is there any chance for having the properties like,

Inactive Placeholder text color, Inactive placeholder text font and Active placeholder text font.

If this is there we can customize controls in lot way.... :)

[2017-12-13 08:32] hashimks opened #41 "Spacing issue in XFX Entry"
Hello,

I have tried using around 6 XFX entries one after the other in a vertical manner in a form. I could see that the spacing between the entries are more. Is there any way to reduce it?

[2017-12-13 12:36] brux88 commented on #27
hi, but this fix is include in versione 1.1.1 in nuget?

[2017-12-13 15:18] ChaseFlorell commented on #27
It is now, yes.

[2017-12-13 15:20] ChaseFlorell commented on #41
The reason for this is that the control is making space for the Error Text. To fix this you have to disable Error Error Text. This feature was added in #33

Take a look at `ErrorDisplay`

[2017-12-13 15:20] #41 closed

[2017-12-13 15:46] ChaseFlorell commented on #40
With great power comes great responsibility. My suggestion is to fork this and add your own functionality, or create an Effect that you can attach.

[2017-12-13 15:46] #40 closed

[2017-12-13 15:54] brux88 commented on #27
i tried on android  but not work

[2017-12-13 15:56] ChaseFlorell commented on #27
Set the FontSize. The Hint will now match the Text size.

[2017-12-26 08:29] Mushtaq123 opened #42 "XfxCardView Tapping"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:
* Device Tested On **Samsung, Moto G3**
* Simulator Tested On **Android Nexus, iPhone 8 Plus**

### Affects

- [x] iOS
- [x] Android

### Expected Behavior
 Tap Gesture over Cardview on listview tapping should be working

### Actual Behavior
 Tap Gesture ove

[2017-12-30 23:31] #42 closed

[2017-12-31 00:17] ChaseFlorell commented on #42
@Mushtaq123 go ahead and test the latest release.

[2018-01-02 06:16] OmarHassan25 opened #43 "XfxEntry HorizontalTextAlignment End"
In XfxEntry HorizontalTextAlignment End the error message remains on the Start side and not flipped to be end aligned, Any help?

`     <xfx:XfxEntry Grid.Row="1"
                HorizontalTextAlignment="End"
                          Grid.Column="1"
                          Placeholder="أكتب اسمك"
                          Text="{Binding Name}"
                          ErrorText="خطأ" />`

[2018-01-02 06:43] ChaseFlorell commented on #43
oh that's a good question. Are you looking to be able to do RTL or just align right?

[2018-01-04 14:40] mrbelk opened #44 "Linker Exception in "Release" Android build"
# Bug
We are using the XfxControls package in a Xamarin.Forms app (Droid and iOS). The Xamarin Forms version is 2.4.0.74863. When we try to compile our primary Droid platform project, we get a build error that the "LinkAssemblies task failed unexpectedly." The actual build error is quoted below. When we build the project in "Debug" mode, it works fine. If we select "Don't Link" in the Linker Behav

[2018-01-04 17:13] ChaseFlorell commented on #44
That's a new class in 1.1.3.
Just to confirm, have you called the `Init()` method in your Android Main Activity?
https://github.com/XamFormsExtended/Xfx.Controls/blob/master/example/Xfx.Controls.Example.Droid/MainActivity.cs#L14

[2018-01-04 17:16] mrbelk commented on #44
Yes, but it's the compilation process that fails; not the actual app running. We don't get that far.

[2018-01-04 17:25] ChaseFlorell commented on #44
did you try a full clean/rebuild in RELEASE? I wonder if there's a dll mismatch after the update?

[2018-01-04 17:25] mrbelk commented on #44
yes I did.

[2018-01-04 17:29] ChaseFlorell commented on #44
so if the issue is at compile time, then it's not the Linker. What happens is that the linker strips classes during compile time so that at runtime they're no longer there. I'm leaning more to a dll mismatch.

Make sure you done the following.
Clean > Close Visual Studio > delete all obj + bin directories > Open Visual Studio > Rebuild

I'm trying to reproduce, but cannot.

[2018-01-04 17:53] ChaseFlorell commented on #44
Alternatively, if you can send me a repro, I'll take a look.

[2018-01-04 19:12] mrbelk commented on #44
give me a bit to completely clean the solution as well as deleting the contents of the "packages" folder in case the dll mismatch is coming from nuget.

[2018-01-04 19:45] mrbelk commented on #44
does 1.1.3 require xamarin forms 2.5, by any chance?

[2018-01-04 20:11] mrbelk commented on #44
I've cleaned everything out and still get the linker error. Could it be something with the target android framework version?

[2018-01-04 20:13] mrbelk commented on #44
all my xamarin.android.support.* packages are v26.1.0.1.

[2018-01-05 13:41] Nikitajain1121 opened #45 "Xfx ComboBox for floating labels showing exception- Java.Lang.NoSuchMethodError:"
# Exception

[ERROR] FATAL UNHANDLED EXCEPTION: Java.Lang.NoSuchMethodError: no method with name='setBackgroundTintList' signature='(Landroid/content/res/ColorStateList;)V' in class Landroid/view/View;
01-05 08:20:08.862 E/mono-rt (12780): at (wrapper dynamic-method) System.Object:dc6c2164-db1e-49f0-a517-fbd887a703b3 (intptr,intptr,intptr,intptr,intptr)
01-05 08:20:08.862 E/mono-rt (12780): --- En

[2018-01-05 16:47] ChaseFlorell commented on #45
Are you using AppCompat on your MainActivity?
https://github.com/XamFormsExtended/Xfx.Controls/blob/master/example/Xfx.Controls.Example.Droid/MainActivity.cs#L8

[2018-01-08 04:54] Nikitajain1121 commented on #45
Yes, here is my MainActivity:

   public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity
    {
        protected override void OnCreate(Bundle bundle)
        {
            TabLayoutResource = Resource.Layout.Tabbar;
            ToolbarResource = Resource.Layout.Toolbar;

            base.OnCreate(bundle);

            global::Xamarin.Forms.Forms.Init(this, bundl

[2018-01-09 04:27] ChaseFlorell commented on #45
Are you able to compile and test this change to see if it addresses your issue?

[2018-01-09 04:29] Nikitajain1121 commented on #45
Yes sure.

On Jan 9, 2018 9:57 AM, "Chase Florell" <notifications@github.com> wrote:

[2018-01-09 04:32] ChaseFlorell commented on #44
I wonder if it makes a difference what the support packages are? Here's what I'm using.

[code]

[2018-01-09 06:32] Nikitajain1121 commented on #45
It's working fine, when I used XfxEntry control.

[2018-01-09 18:33] mrbelk commented on #44
hmmm... let me see if I can downgrade my support libraries and target framework and see what that does

[2018-01-10 13:25] ChaseFlorell commented on #45
did you try the new code in the develop branch?

[2018-01-15 11:01] brux88 opened #46 "xfxentry marign"
its possible set margin from label and entry, in ios is too small

# Feature Request:
Please fill in what you would like

[2018-01-20 18:29] ahoefling commented on #3
I can pick this up. I am starting to extend this library for a project I am working on and I need a matching picker. I'll submit a pull request when I have it completed.

[2018-01-20 20:36] ChaseFlorell commented on #3
@ahoefling I have a bunch of this done already because I needed it in an internal project. I haven't had a chance to refine it yet though, so I'd be happy to hand over what I have to get you started.

[2018-01-20 22:35] ahoefling commented on #3
If you could hand over some code to me that would be awesome! Could you put it in a branch and I can fork it and see what it is doing. The major problem I was running into is extending the Xamarin.Forms base picker functionality while injecting the new types.  I was looking to do some type of hybrid combination of our XfxEntryRenderer and the Xamarin.Forms PickerRenderer.

Very interested to see h

[2018-01-21 00:02] ChaseFlorell commented on #3
Well I brought all my old stuff in and got it compiling. I didn't even bother spinning it up in a sim to see what it looks like. Feel free to mess with it and submit a PR

https://github.com/XamFormsExtended/Xfx.Controls/tree/issue-%233

[2018-01-21 00:30] ahoefling commented on #3
I just copied some of the code into my project and it worked without issue. I can dig through it and extract a PR that just adds the MVP.

Out of curiosity do you remember the known issues with this code?

[2018-01-21 00:44] ChaseFlorell commented on #3
There was no known issue per-se, but it didn't implement the the added features like setting the active color and disabling the error text all together. I threw it in hastily before pushing, but it's fully untested. Also IIRC, the "selection" behavior on iOS doesn't behave the same as the default `Picker` and I think that was a business rule when I built it. I think the `Picker` selects when you s

[2018-01-21 00:45] ChaseFlorell commented on #3
so as for the selection behavior... what is the iOS default in that scenario? I always hated that as you scrolled to a picker item, as soon as you stop it'd select it; is that how iOS is supposed to behave?

I'll take whatever is standard, and if there's no standard, do you think we should stick to the `Picker` behavior, or deviate?

[2018-01-21 04:24] ahoefling commented on #3
This actually works pretty well on both iOS and Android, I was pleasantly surprised and it helps out a lot on a project I am working on. I am going to start working on a fork and cleaning this up so we can merge it in to master.

[2018-01-21 05:38] ChaseFlorell commented on #3
this sounds really good. Once your PR is in, I should be able to pull together a new Nuget Package release fairly quickly. The latest develop branch also contains new support for handling `INotifyDataErrorInfo`, so you can set validation really easily on your Controls. I think I need to put together a blog post about it.

[2018-01-21 15:54] ChaseFlorell commented on #46
at this time it's not possible. we've got two options to solve this for you.

1) would be to fork the repo and change the iOS platform to your liking
2) would be to flesh out what it would look like to make it settable cross platform and submit a PR

in the meantime, I'm going to adjust the naming a little on this issue and leave it open. If other's pipe up and say that the spacing on iOS is too s

[2018-01-21 15:56] ChaseFlorell commented on #46
does this also include the spacing between the entry and the error text below?

[2018-01-21 15:58] ChaseFlorell commented on #45
I still need someone with an older device to test the `develop` branch to see if the changes made solve this error. I currently don't have access to a KitKat device.

[2018-01-21 16:33] ChaseFlorell opened #47 "Make ErrorText right alignable"
# Feature Request:
Additional API:

[code]

Relevant code for Android (iOS is all just hardcoded, so no big deal)
https://stackoverflow.com/a/42578667/124069

[2018-01-21 16:35] #43 closed

[2018-01-22 08:10] brux88 commented on #46
no only include spacing between entry and label

[2018-01-22 13:25] Nikitajain1121 commented on #45
Okay

Warm Regards,
*Nikita Jain*
Graduate Engineer Trainee

*Systematix Infotech Pvt. Ltd.*
*India* | Australia | United Kingdom | United States
Plot No. 67, PU-4 Commercial, Behind C21 Mall | AB Road Indore
*Mob:* +91-898.943.2955 | *Tel:*0731-2570282| *Skype:*nikitajain.systematix
*Website Address:*http://systematixinfotech.com

*Follow Us:*Facebook <https://www.facebook.com/SystematixInfotech>

[2018-01-25 12:16] toverux commented on #44
Getting the same problem... How can I help you to find the issue?

[2018-01-29 05:38] Nishita1121 commented on #46
Yes, spacing on iOS is too small. So, what is the solution to increase the spacing b/w xfxEntry and it's floating labels.

[2018-01-29 05:56] Nishita1121 opened #48 "How can I do word wrap in xfxEntry ?"
* Version Number of Control:  1.1.3
* Device Tested On: Android and I phone
* Simulator Tested On:

### Affects

- [ ] iOS
- [ ] Android

Input  text given in xfxEntry is  not wrapping to the next line. Is there any property similar to line break mode like in labels ?

Please suggest some solution to slove this issue.

[2018-02-01 09:31] kwacks commented on #44
Also have this problem with linking.
Our only alternative right now is using a native implementation for android.
Why doesn't linkskip work for this plugin?

[2018-02-01 14:12] ChaseFlorell commented on #44
Anyone running into this, please post your stacktrace.

/cc @kwacks @toverux

[2018-03-13 18:34] mrbelk opened #49 "XfxEntry numeric keyboard doesn't have decimals on iOS"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug
XfxEntry shows "NumberPad" and not "DecimalPad" when its keyboard type is set to "Numeric"

* Version Number of Control: 1.1.3
* Device Tested On: iPhone 7
* Simulator Tested On:

### Affects

- [x] iOS
- [ ] Android

### Expected Behavior
The Numeric keyboard type should be able to take

[2018-03-16 16:05] ameem85 opened #50 "Android ViewGroup wrapper for TextInputLayout should is focusable"
# Bug

When user focuses on an entry and tries to focus the next entry in the same page by pressing the tab button on the physical keybaord (while the app is running on emulator), the ViewGroup wrapper wrapping the Android TextInputLayout gains focus and shows up the Soft Input Keyboard. At this point of time, when user types anything on SIP, nothing happens, and when user presses the tab key agai

[2018-03-16 18:54] ameem85 opened #51 "Focus toggling between multiple entries in endless loop"
# Bug
When focus is switched fast enough between multiple entries, the program is running into endless loop where it keeps on toggling focus between the entries endlessly, and pressing the back button crashes the app.

* Version Number of Control: 1.1.3
* Device Tested On: NA
* Simulator Tested On: Android Oreo Emulator

### Affects

- [ ] iOS
- [x] Android

### Expected Behavior
 Switching focus

[2018-03-16 19:09] ameem85 commented on #51
Modifying XfxEntryRendererDroid with the following seems to resolve Issue #50  and #51:

- Remove line# 98 i.e. Focusable = true;
- Invoke the following withtout PostDelayed

//EditText.PostDelayed(() =>
//                    {
                        EditText.RequestFocus();
                        manager.ShowSoftInput(EditText, 0);
//                    },
//                    100);

[2018-03-19 04:58] gauris26 commented on #45
@ChaseFlorell Can you please update Nuget package with solution and last commit? I'm still getting this exact error

[2018-03-20 12:48] ChaseFlorell commented on #49
I will look into this, thanks for the report

[2018-03-20 12:48] ChaseFlorell commented on #51
I can't remember why I used the `PostDelayed` bit. I will review, thanks for the report.

[2018-03-20 12:49] ChaseFlorell commented on #48
Whoah, I'm not sure how I missed your question, sorry.
The Entry is only a single line by design. What you want is an Editor, unfortunately I have yet to build an `XfxEditor` that will support floating labels.

[2018-03-20 12:49] #48 closed

[2018-03-20 12:59] mrbelk commented on #49
Sure thing.

[2018-03-24 17:27] Umar3x commented on #41
Hello,

I'm having the same prob. I got a behavior, and I set the error text of the entry depending on a Regex. For that it is working well, and I must say that this control is very useful, thanks !

Prob is even if I set Error Text to null, space remains. So I had in mind that I should also set Error display considering my behavior.

In the handle text changed I made something like this :

[code]

[2018-03-27 16:33] quantumarun opened #52 "Feature: XfxEntry line color property"
Please fill out either the bug or feature request section and remove whatever section you are not using.
Need property to change the color of Entry Line(Line below the Text Entered) on Android. Currently on dark background the entry field on android is almost invisible.

# Bug

* Version Number of Control:
* Device Tested On:
* Simulator Tested On:

### Affects

- [ ] iOS
- [x] Android

### Expect

[2018-03-27 16:37] ChaseFlorell commented on #52
Try setting your placeholder color and let me know how it goes.

[2018-03-27 17:10] quantumarun commented on #52
Great. That seems to solve my issue :).

[2018-03-27 17:10] #52 closed

[2018-04-01 13:35] quantumarun opened #53 "How to turn off Autocorrection, spell checker, AutoCapitaliztion for XfxEntry control"
I need to turn off autocorrection when typing some text. Right now if i something say serah then on iOS it will automatically by corrected to search. Is there a build in property already for this?
# Bug

* Version Number of Control:
* Device Tested On:
* Simulator Tested On:

### Affects

- [ ] iOS
- [ ] Android

### Expected Behavior

### Actual Behavior

### Steps to reproduce the Behavior

###

[2018-04-01 13:45] ChaseFlorell commented on #53
Try setting the Keyboard to 'Text'

[2018-04-01 13:48] quantumarun commented on #53
Already tried this but still autocorrection happens

[2018-04-01 14:34] ChaseFlorell commented on #53
Does it happen if you use a regular Entry control?

[2018-04-03 18:05] quantumarun commented on #53
Yes. Same thing happens there also. Also i have writing a custom renderer on XfxEntry controls for ios and set the autocorrection to none but still the autocorrection happens.

[2018-04-03 19:41] ChaseFlorell commented on #53
You didn't specify if you're on a device or simulator. Do you happen to have a custom keyboard by chance?

[2018-04-06 18:13] Itouqeer commented on #46
Yes spacing on iOS is too small. Please fix. #brux88 do you found any solution?

[2018-04-06 18:29] ChaseFlorell commented on #46
I do take pull requests.
https://github.com/XamFormsExtended/Xfx.Controls/blob/master/src/Xfx.Controls.iOS/Controls/FloatLabeledTextField.cs

[2018-04-06 18:34] Itouqeer commented on #46
@ChaseFlorell thanks for your swift response. Dude i am a beginner can you please guide how i can solve this?

[2018-04-06 18:36] ChaseFlorell commented on #46
The spacing is hard-coded (and will remain so).
I looked at the spacing on Android, and agree that iOS needs an additional gap, The file I linked to above is where you will adjust the spacing.

[2018-04-06 18:39] Itouqeer commented on #46
@ChaseFlorell dude i just installed the package uaing nuget how can i edit that?

[2018-04-06 18:41] ChaseFlorell commented on #46
you'd have to fork this repository, make the adjustments, and submit a pull request.
If you're not comfortable with that, you'll have to wait until I can tackle it, or someone else is willing to take it on.

[2018-04-06 18:45] Itouqeer commented on #46
Ok @ChaseFlorell thanks for your time. Ok i can wait. Hope it can be solved soon.

[2018-04-08 01:10] mazloumi opened #54 "Number of suggestions"
Hi, is there a way to configure the number of suggestions shown for the XfxComboBox? Currently, it seems limited to 3 results.

[2018-04-09 05:47] mazloumi commented on #45
XfxComboBoxRendererDroid has the same issue and should use SupportBackgroundTintList instead of  BackgroundTintList

[2018-04-09 06:07] arun6202 commented on #51
k k

K
•
1. Kk7k K

Kkkk

K o O K

[2018-04-09 10:26] swapnilghadge2390 opened #55 "Does not show floating hint when value set dynamically to XfxEntry"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:
* Device Tested On:
* Simulator Tested On:

### Affects

- [ ] iOS
- [ ] Android

### Expected Behavior

### Actual Behavior

### Steps to reproduce the Behavior

### Link to Github Reproduction (optional but recommended)

[Repro]()

# Feature Request:
Pleas

[2018-04-10 12:49] RaoulNL opened #56 "XfxEntry -> property x:Name mandatory ?"
When I use version 1.1.3 of the nuget in my Xamarin Forms project and use an entry like this:

<xfx:XfxEntry Text="Hello" />

The app crashes; but when I use the entry as follows:

<xfx:XfxEntry x:Name="NameEntry" Text="Hello" />

it all works fine. What could be the cause of this?

When I use version 1.0.4 I can omit the x:Name property.
I have seen this in the iOS simulator.

Regards, Raoul.

[2018-04-19 14:11] asdiomar1 opened #57 "System.MissingMethodException"
I installed de package in all the platforms, also initialize them.

# Bug System.MissingMethodException: Default constructor not found for type Xfx.Controls.Droid.Renderers.XfxEntryRendererDroid

* Version Number of Control: 1.1.3
* Device Tested On: Moto g XT1039

### Affects

- [ ] iOS
- [x] Android

### Expected Behavior
 Not crash.

### Actual Behavior
Crashing when open the app.

### Steps to

[2018-04-22 20:11] mazloumi opened #58 "Show suggestions on focus or when text is set programmatically"
# Feature Request:
Is there a way I can have the suggestions show as soon as the control gains focus or the text is programmatically set?

[2018-04-24 14:09] burzaccabruno opened #59 "Cannot access a disposed object CRASH!"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:7.1
* Device Tested On: samsung a5
* Simulator Tested On:

### Affects

- [ ] Android

### Expected Behavior
 Not to crash

### Actual Behavior
i'm getting this crash in appcenter

XfxEntryRenderer+<>c__DisplayClass19_0.<ControlOnFocusChange>b__0 ()
System.Ob

[2018-04-26 11:58] DimaOrdenov commented on #57
Same for me.
Just to be sure about initialing:

`Xfx.XfxControls.Init();`
before
`global::Xamarin.Forms.Forms.Init(this, bundle);`

[2018-04-26 12:39] asdiomar1 commented on #57
Yes, exactly. I'm initialing Xfx in that way.

[2018-04-26 12:46] RaoulNL opened #60 "Control the Return type key"
I cannot find if anyone else has already made this suggestion, but wouldn't it be nice to control the return type key on the Entry Control?
An example can be found [on this stackoverflow](https://stackoverflow.com/questions/37445473/change-return-to-be-next-done-key-in-xamarin-forms-shared-project).

Regards, Raoul.

[2018-04-27 10:45] swapnilghadge2390 opened #61 "Not supporting xfx cardview in lower apis like kitkat"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug
Xfx cardview not supporting in lower apis like kitkat 4.4.2
* Version Number of Control: 4.4.2
* Device Tested On: Moto g4
* Simulator Tested On: Any genymotion simulator with 4.4.2 or lower api

### Affects

- [ ] iOS
- [ ] Android Not working app crashes

### Expected Behavior

Should

[2018-05-07 00:11] jessejiang0214 commented on #19
I met the same issue, only on iOS
![screen short](https://www.dropbox.com/s/bavhzg9auoml9wd/Simulator%20Screen%20Shot%20-%20iPhone%20X%20-%202018-05-07%20at%2009.58.46.png?dl=0)

Here's code which can reproduce this
[code]

[2018-05-18 14:51] miguelpietropaolo opened #62 "XfxEntryRenderer crashes on ControlOnFocusChange"
### Affects

- [ ] iOS
- [X ] Android

### Expected Behavior
 Not to crash on focusing

### Actual Behavior
Crashes if focused and leaving the current page really fast

### Steps to reproduce the Behavior
It's pretty hard but it may happen.
You have to change PostDelayed delay to something greater, e.g., 1000.

### Proposed fixed
Renderers/XfxEntryRendererDroid.cs line 158

      EditText.PostDela

[2018-06-07 12:46] technololy commented on #46
Hi Guys. This solution would really be a boost for this plugin. Thanks

[2018-06-09 12:57] vidya091209 opened #64 "Cannot access a disposed object"
XfxVisualElementManager.Dispose (System.Boolean disposing)
System.ObjectDisposedException: **Cannot access a disposed object. Object name:** 'Xfx.Controls.Droid.Renderers.XfxCardViewRendererDroid'.
JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
JniPeerMembers+JniInstanceMethods.InvokeVirtualVoidMethod (System.String encodedMember, Java.Interop.IJavaPeerable self, Java.Interop.JniArgum

[2018-06-13 23:54] boskokg commented on #53
Hello, I also reproduce this issue on both IPhoneSimulator and real IPhone. Can you fix this thing?

This issue is very important for login form.

I would do this in the simple entry (and it works):

`                <Entry Placeholder="test" Keyboard="Text">
                    <Entry.Keyboard>
                    <Keyboard x:FactoryMethod="Create">
                      <x:Arguments>

[2018-07-02 06:48] swapnilghadge2390 opened #65 "How to chnage XfxCardView border color??. As in IOS it shows reddish and if i hide/ show card, it shows full backgronud reddish"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:
* Device Tested On: iphone 5, iphone7, iphone6
* Simulator Tested On: all

### Affects

- [ ] iOS Yes
- [ ] Android No

### Expected Behavior
 If i hide card and again try to show it on event it turns all layout background in reddish.

### Actual Behavior
It

[2018-07-07 11:56] Goncharuk-Nikita opened #66 "fxEntry does not change color when changing AccentColor"
# Bug

* Version Number of Control: 1.1.3
* Device Tested On: Android 6.0
* Simulator Tested On: Android 7.1

### Affects

- [ ] iOS: No tested
- [x] Android

### Expected Behavior
When you change colors in your android style, the _PlaceholderColor_ and _ActivePlaceholderColor_ properties automatically adjust to AccentColor.

### Actual Behavior
I have a red AccentColor in the _colors.xml_ file in

[2018-07-16 16:40] rodrigueslg commented on #45
I'm on a kitkat device, and the erro is still there

[2018-07-18 16:56] rodrigueslg opened #67 "Crash when using CardView running on Android KitKat 4.4.2"
Crash when using CardView running on Android KitKat 4.4.2

# Bug
07-18 13:31:51.697 I/MonoDroid( 9895): Java.Lang.LinkageError: no method with name='getElevation' signature='()F' in class Landroid/support/v7/widget/CardView;

* Version Number of Control: 1.1.3
* Device Tested On: Galaxy S3 Android 4.4.2
* Simulator Tested On:

### Affects

- [ ] iOS
- [x] Android

[2018-07-31 05:13] JaeWLee opened #69 "[Question] Do you have a plan to support UWP?"
have a plan to support UWP?

[2018-08-02 19:58] ChrisAllisonMalta commented on #53
I've never contributed to a project before on github, and I'm not that good at XF to be able to build my own control but I have a control called NoHelperEntry (which I used online tutorials for). Its fairly straightforward but I wonder if instead of inheriting from Entry you inherit from NoHelperEntry instead?

so in the shared project:

{
    public class NoHelperEntry : Entry
    {
    }
}`

the

[2018-08-08 12:10] juanagu commented on #53
Same problem, any idea how fix this?

[2018-08-12 03:57] Welchen commented on #64
I am receiving a similar error but with the Xfx.Controls.Droid.Renderers.XfxComboBoxRendererDroid.   Did you figure out a solution for this?

[2018-08-12 12:42] vidya091209 commented on #64
no not yet.

[2018-09-03 12:16] himanshudwd765 commented on #64
@ChaseFlorell Are you resolving this issue, I am also facing the same issue.

[2018-09-22 13:25] n1t1sh1 opened #70 "SetErrorDisplay on focus or unfocus"
# Feature Request:
In android 7.1 XfxEntry taking more space downside because of Control.ErrorEnabled is true,
For this reason space are coming between XfxEntry  and Button, so its looking odd.

I want to set Control.ErrorEnabled to true only when Focus and Unfocused occurred?
i tried to set condition in  OnElementPropertyChanged method, here i set Control.ErrorEnabled=true when
error text occured

[2018-10-02 23:49] Nerves82 opened #71 "Using the CardView as a host layout for a single label causes the label to be drawn twice."
See [this Stack Overflow post](https://stackoverflow.com/questions/52617519/how-to-force-a-xamarin-forms-label-or-view-to-redraw-to-prevent-duplicate-label) for complete details.

[2018-10-03 00:18] Nerves82 opened #72 "CardView does not respect the Top or Left margin of its child view."
Using the card view is proving to be difficult as it does not seem to respect the margins of any of its child views. The easiest way to show this issue is with some xaml and resulting screenshots. To get around this (in a very limited way) I have been setting the margin (right and bottom) of my child view to match the forced margins (or padding)(left and top) of the card view, and then adding empt

[2018-10-11 09:22] siowze opened #73 "ComboBox Placeholder Text Size can't be bigger."
I can't set ComboBox's placeholders text size to 24, it only become 24 when I insert something. I try using custom renderer but it didn work.

### Affects

- [ ] iOS
- [X] Android

[2018-10-16 16:21] vpiliado commented on #49
Is there any change on this point?

[2018-10-30 18:05] JFMG opened #75 "Solved"
Sorry for opening this issue. Wrong repo... Issue can get removed.

[2018-10-30 18:08] #75 closed

[2018-10-30 18:16] ChaseFlorell commented on #75
haha, whoops

[2018-11-10 13:57] AEA94 commented on #22
Unfortunately the problem still remains in Version 1.1.3.
Last part of my Callstack:

System.Diagnostics.Debugger.Mono_UnhandledException(System.NullReferenceException ex)
object.25( Parameters)
Xfx.Controls.Droid.Renderers.XfxEntryRendererDroid.get_EditText()

It works on iOS but crashes on Android. Seems to be a missing null check

[2018-11-11 18:28] AEA94 opened #76 "Xfx Entry unhandled NullReferenceException"
# Bug

* Version Number of Control: 1.1.3
* Device Tested On: Samsung Galaxy S7, Huawei P9
* Simulator Tested On: iPhone 8/X

### Affects

- [x] Android

### Expected Behavior

Xfx Entry used in a Popup. Should not crash when popup is closed.

### Actual Behavior

On Closing Popup Page, Xfx Entry crashes with Nullreference Exception on Android. Works fine for iOS.

### Steps to reproduce the Behav

[2018-11-21 18:21] alsed42 opened #78 "MbAutoCompleteTextField.Draw() throws InvalidCastException when XfxComboBox is not contained in a ScrollView"
# Bug

* Version Number of Control: 1.1.3
* Device Tested On:
* Simulator Tested On: iPhone 8 iOS 12.1

### Affects

- [x] iOS
- [ ] Android

### Expected Behavior

XfxComboBox can be drawn successfully on iOS even if not contained inside a ScrollView.

### Actual Behavior

InvalidCastException thrown at MbAutoCompleteTextField.Draw() if XfxComboBox is not contained inside a ScrollView and then th

[2018-11-22 13:23] ayushpant1 opened #79 "Can we add icon with this entry?"
And If yes then How?

[2018-11-28 08:15] JFMG commented on #62
This is a Google Console crash report from 27. November:

@ChaseFlorell can you please review my PR? We got this app in production with almost 30k users just on Android.

[2018-12-04 14:15] marcus905 opened #80 "Option to change the ErrorText color from the de"
# Feature Request:
Add the option of changing the ErrorText color. Adding another BindableProperty, in iOS it should then be trivial, in Android it's a matter of resolving the reflection needed to set as it's a public field that's not included in the standard SDK, but there are people that accessed it like here in StackOverflow (https://stackoverflow.com/a/34752605 https://stackoverflow.com/a/3501

[2018-12-11 13:58] michel7siqueira opened #81 "After updating xamarin forms 4.0 stopped working on ios"
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(795,3): error MT2101: Can't resolve the reference 'System.Void Xamarin.Forms.Platform.iOS.VisualElementTracker::.ctor(Xamarin.Forms.Platform.iOS.IVisualElementRenderer)', referenced from the method 'System.Void Xfx.Controls.iOS.XfxVisualElementManager::Init(Xamarin.Forms.Platform.iOS.IVi

[2018-12-11 18:20] mrbelk commented on #22
I've gotten a few MS AppCenter crash reports for this lately, too. Android version 6.0.1

The stack trace is pretty limited, but here it is:

[code]

[2019-01-07 05:56] shiennymendeline commented on #57
I have the same error too for xfs:cardView

[2019-01-07 05:56] shiennymendeline commented on #57
System.TypeLoadException: VTable setup of type Xfx.Controls.Droid.Renderers.XfxCardViewRendererDroid failed

[2019-01-10 13:13] tmmstnchauhan opened #82 "Hiding the underline for entry in combobox"
How to remove the underline effect of the entry in combobox? I have created 1 effect fro hiding the underline effect but it doesn't work on the comboBox. It works fine on normal entry. Please suggest how to remove underline effect in comboBox.

[2019-01-14 16:46] bpelotto opened #83 "Java.Lang.NoSuchFieldException when targeting API Level 28"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control: 1.1.3
* Device Tested On: Pixel 2 XL
* Simulator Tested On: N/A

### Affects

- [ ] iOS
- [x] Android

### Expected Behavior
 Controls Initialize/Work Properly

### Actual Behavior
Java.Lang.NoSuchFieldException is thrown.

### Steps to reproduce the Behavio

[2019-01-18 14:57] alipishkari opened #84 "problem with Combo : when typing digits"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug
Hey,
when I type some digits on combo box there is no suggestion panel.

I have a complex type object. it has an ID and also text
when a user types a text I find my records and it's ok
but when user type digit, I can find my records too. but suggestion panel does not appear

* Version Nu

[2019-01-18 15:00] alipishkari commented on #84
this is my code :

`
 private static void AgencyPropertyChanged(BindableObject bindable, object oldValue, object newValue)
            {

                var model = (CheckListHeaderViewModel)bindable;
                var text = newValue.ToString();
                if (string.IsNullOrEmpty(text)) return;
                model.Agencies.Clear();
                List<Model.Agency> agencs;

[2019-01-21 13:04] alipishkari commented on #84
I updated sort function and it's ok know

[2019-01-21 13:04] #84 closed

[2019-01-22 18:30] Daxton47 commented on #53
I can't change the `Keyboard` for this custom entry control through XAML, code-behind or MVVM binding. From source code on the iOS Entry renderer, it looks like the Keyboard is being manually set to Native. It seems like this is the reason the `Keyboard` property is never getting applied to the entry, it's being overwritten by `SetKeyboard()`. I can do some experimenting with this when I get the t

[2019-01-24 11:30] DeShrike commented on #81
Any news on this ?
I have the same issue with version v4.0.0.94569-pre3

[2019-01-28 13:52] uzairali001 commented on #81
Why would you want to use Xfs.Controls with Xamarin 4.0 if it already has Material design controls just change visual to Material on Content page

[2019-01-29 09:47] sarthak199526 opened #85 "XfxCombobox =>suggestion not showing when user enter only single character"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug  Hi Suggestion list not showing for combobox when user enter only single character . It starts to show when minimum character are two inside combobox But I want to show suggestion list even on single character entered by user . Is there any property to set minimum number of character tha

[2019-01-29 15:12] ChaseFlorell commented on #85
you'll want to use the `Threshold` property.

https://github.com/XamFormsExtended/Xfx.Controls/blob/master/src/Xfx.Controls/XfxComboBox.cs#L31

[2019-01-29 15:12] #85 closed

[2019-02-04 06:32] Nerves82 commented on #83
I am getting this too. I have yet to have any success solving it. Any ideas on what is going on? My only alternative it to ditch the package all together.

[2019-02-07 19:52] mpghelli opened #86 "Show List When Xfx.Combobox clicked"
### Affects

- [X ] iOS
- [X ] Android

### Expected Behavior

Is there anyway to show the itens of the list when Xfx.Combobox is clicked, without have to start to typing the text?

[2019-02-11 18:40] mrbelk commented on #83
Here is a good summation of the problem: https://stackoverflow.com/questions/35683379/programmatically-set-textinputlayout-hint-text-color-and-floating-label-color

See the last comment on the first answer

[2019-02-11 20:09] mrbelk commented on #83
I think I have fixed this by creating a wrapper control in my xamarin.forms project and a renderer that inherits from XfxEntryRendererDroid.

The control looks like this:

[code]

and my renderer is here:
https://gist.github.com/mrbelk/2e172d4094b8b612b9ba7c3530a742ee

[2019-02-12 02:00] mrbelk commented on #81
I'm actually getting this same error with Xamarin.Forms 3.5 when building on MS App Center.

[2019-02-13 17:03] mrbelk commented on #81
For what it's worth, I cannot get the new material entry effects when using XF4.0-pre4 on iOS.

[2019-02-13 17:07] ChaseFlorell commented on #81
It sounds like there is some effort required to get everything working with Pie and Forms 4. It's just super hard for me to find the cycles to look into all of this right now. Let me see what I can come up with.

[2019-02-13 17:09] mrbelk commented on #81
Chase, It's iOS we're talking about here, not Android.

[2019-02-13 17:11] ChaseFlorell commented on #81
Yep, that was meant as a blanket statement, sorry for the confusion.
I need to put effort into getting this thing working properly in Android (Pie) and also get it working properly in Android AND iOS for Xamarin Forms 4.

[2019-02-13 17:49] mrbelk commented on #81
10-4. Also, my experience is that this iOS issue only affects signed device builds, not simulator ones

Matthew Belk
BizSpeed, Inc
678-287-3315

________________________________
From: Chase Florell <notifications@github.com>
Sent: Wednesday, February 13, 2019 12:11 PM
To: XamFormsExtended/Xfx.Controls
Cc: Matthew R. Belk; Comment
Subject: Re: [XamFormsExtended/Xfx.Controls] After updating xamarin

[2019-02-18 00:31] mimunoz commented on #82
+1

[2019-02-25 21:59] pskyv opened #87 "XfxComboBox suggestion list not showing"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control: 1.1.3
* Device Tested On:
* Simulator Tested On: Nexus5x (Android 8.1 - API 27)

### Affects

- [x] Android

I'm using mvvm approach with prism (xamarin forms 3.1.0)

### Expected Behavior
 ComboBox ItemsSource is bound to an ObservableCollection that is pop

[2019-03-03 08:24] ColdThor commented on #87
I am having the same issue, it shows the first time, after I navigate to the same page the list only show 1 item ( the one I selected before). I was able to show the suggestions upon the second+ navigation to the site by deleting the line: model.EmailSuggestions.Clear(); However then the list shows duplicate values.

[2019-03-04 08:38] PrakashSingh9 commented on #73
ComboBox placeholder font size does not work .

[2019-03-12 12:45] vyfster commented on #83
I've created a PR for this bug.  Can be found here https://github.com/XamFormsExtended/Xfx.Controls/pull/88.

[2019-03-21 17:58] RafaelVieira2323 opened #89 "xfxEntry problem with ReturnType"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control: 1.1.3
* Device Tested On: xiaomi redmi note 3
* Simulator Tested On: Iphone x

### Affects

- [x ] iOS
- [ x] Android

### Expected Behavior
 Keyboard with button next

### Actual Behavior
Keyboard with button Done

### Steps to reproduce the Behavior

### L

[2019-03-27 00:35] #61 closed

[2019-03-27 00:35] #67 closed

[2019-03-27 10:30] eamiguinho commented on #89
If you look at the source code it's forcing to be DONE instead of taking the returntype we set, so you might need to just fork and do your own control I'm afraid, should be easy fix but maybe people are not supporting this anymore

[2019-03-27 18:10] RafaelVieira2323 commented on #89
I've been looking at the source code but I have not found the forcing of the DONE in returnType.

Can you tell me where you saw it? So I try to do something. And why are you forcing Done?

[2019-03-27 18:15] eamiguinho commented on #89
Don't get me wrong mate, I never did any work for this controls I just found it with a search through the code because I'm having the same issue as you, here have a look:

https://github.com/XamFormsExtended/Xfx.Controls/blob/master/src/Xfx.Controls.Droid/Renderers/XfxEntryRendererDroid.cs#L114

They set it directly to Done in this line.

[2019-03-27 18:23] ChaseFlorell commented on #89
When I built this, `Done` was the default behavior for Entry, so I just copied it. Has Forms allowed us to modify it now? If so, let's update to match! I will accept a PR, or do it when I have time (could take a while)

[2019-03-27 18:26] eamiguinho commented on #89
Yeah you can do ReturnType="Done".

Docs: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/entry#customizing-the-return-key

We might need to update XamForms to be able to do this, what version you have at the moment? I can make the request later today / tomorrow morning.

Thanks @ChaseFlorell

[2019-03-28 12:58] RafaelVieira2323 commented on #89
version of xfx.controls 1.1.3 e xamarin.forms 3.4.0.1008975

[2019-03-28 17:19] eamiguinho commented on #89
@ChaseFlorell

I did a quick update, have a look at my PR feel free to change anything or request me to change something.

https://github.com/XamFormsExtended/Xfx.Controls/pull/90

Thanks, Mani

[2019-03-28 17:22] #89 closed

[2019-03-28 17:22] ChaseFlorell commented on #89
Great work @eamiguinho, thanks!

[2019-03-28 17:24] eamiguinho commented on #89
Are you gonna update the Nuget package? @ChaseFlorell I didn't have much time to test, all looked good to you?

[2019-03-28 17:25] ChaseFlorell commented on #89
everything looked good. I'll try to get one built by the weekend and upload as pre-release

[2019-03-28 17:26] eamiguinho commented on #89
Great mate 👍

[2019-03-28 17:32] RafaelVieira2323 commented on #89
@eamiguinho  @ChaseFlorell Thank you for your help :).

[2019-03-28 17:39] RafaelVieira2323 commented on #89
i will test the new nuget, if have some problem, i will reporting you ;)

[2019-03-31 20:06] eamiguinho commented on #89
Mate, I saw that you updated and I did update the nuget and now it's not even showing, can you please have a look? I followed your code pattern but maybe something went wrong with updating Xam.Forms so many versions ahead. Can you please test it and have a look?

[2019-04-01 04:00] ChaseFlorell commented on #89
Hey @eamiguinho I did find a few issues that crept in after closing the PR's, I've not seen what you're describing though, could you please tell me exactly what you're experiencing and on which platform?

[2019-04-01 04:25] ChaseFlorell commented on #89
I just pushed 1.2.1, please see if that yields better results.

[2019-04-01 07:23] eamiguinho commented on #89
Hey @ChaseFlorell

Yes, it shows now but I still have issues, some logs:

`[TextInputLayout] EditText added is not a TextInputEditText. Please switch to using that class instead.
[XfxEntryRendererDroid] Swallowing NoSuchFieldException - defaultHintTextColor.
[XfxEntryRendererDroid] Swallowing NoSuchFieldException - focusedTextColor.`

And it crashes when trying to give focus to an Xfx.Entry, excep

[2019-04-01 07:30] eamiguinho commented on #89
Btw I didn't test iOS yet, just Android, the crash I can't reproduce it anymore, but the action button is not working properly if not set to Done

[2019-04-01 08:51] RafaelVieira2323 commented on #89
I test in ios emulator, is working very well. I have a little problem in android, one entry dont lose focus.
The return type of my username entry is "next".

My code:
usernameEntry.Completed += (object sender, EventArgs e) => {
                usernameEntry.Unfocus();
                passwordEntry.Focus();
            };

[2019-04-01 09:24] eamiguinho commented on #89
@RafaelVieira2323 yes, that's because it's only doing this if actionId == ImeAction.Done, needs to be added logic if ImeAction.Next to focus the next control and sendcompleted(), @ChaseFlorell I think this change is relatively small and quick to do, but today I'm away if you could implement that would be great (check iOS as well)

`if ((actionId == ImeAction.Done) || ((actionId == ImeAction.ImeNul

[2019-04-01 09:58] RafaelVieira2323 commented on #89
@eamiguinho your solution is working. I'm going to pute the code here for @ChaseFlorell , you can use it to update the nuget.

public bool OnEditorAction(TextView v, ImeAction actionId, KeyEvent e)
        {
            if (Element == null || Control == null || Control.Handle == IntPtr.Zero || EditText == null || EditText.Handle == IntPtr.Zero)
                return false;

            if ((actio

[2019-04-02 13:24] eamiguinho commented on #89
@ChaseFlorell https://github.com/XamFormsExtended/Xfx.Controls/pull/91 made the change to do it for any ImeAction on Android (iOS is working just fine). Can you please merge and release a new nuget update with this change?

Best,
Mani

[2019-04-05 10:38] RafaelVieira2323 commented on #89
@ChaseFlorell  release a new nuget update with the new merge of @eamiguinho.

[2019-04-05 14:30] ChaseFlorell commented on #89
@RafaelVieira2323 I don't take kindly to demands. I'll merge it once I have a minute to look at it, which is typically Saturday/Sunday.

[2019-04-05 15:49] RafaelVieira2323 commented on #89
@ChaseFlorell  it is not a requirement.

I wanted to ask if you could update the nuget.

[2019-04-08 15:05] peterfournier commented on #83
@mrbelk Thanks, your wrapper worked for me

[2019-04-08 15:07] ChaseFlorell commented on #83
I merged the PR last week, is it still an issue in 1.2.1?

[2019-04-11 02:56] hemantramu commented on #44
We are using the XfxControls package in a Xamarin.Forms app (Droid and iOS). The Xamarin Forms version is 3.6.0.293080. When we try to compile our primary Droid platform project, we get a build error that the "LinkAssemblies task failed unexpectedly." The actual build error is quoted below. When we build the project in "Debug" mode, it works fine. If we select "Don't Link" in the Linker Behavior s

[2019-04-11 18:52] hemantramu opened #92 "Build issue in Release mode (Linking SDK Assemblies)"
We are using the XfxControls package in a Xamarin.Forms app (Droid and iOS). The Xamarin Forms version is 3.6.0.293080. When we try to compile our primary Droid platform project, we get a build error that the "LinkAssemblies task failed unexpectedly." The actual build error is quoted below. When we build the project in "Debug" mode, it works fine. If we select "Don't Link" in the Linker Behavior s

[2019-04-11 18:57] ChaseFlorell commented on #92
Before I start digging into this, did you ensure you did a full clean/delete bin/rebuild?
Sometimes Visual Studio gets confused.

[2019-04-11 19:23] hemantramu commented on #92
Yes i have done full clean/delete bin/rebuild and even nuget downgraded / upgraded the package as well

[2019-04-15 09:11] hemantramu commented on #92
Any update on the above issue

[2019-04-16 11:55] eamiguinho commented on #89
Hi @ChaseFlorell

You had any time to have a look and create a NuGet update?

Thanks a lot and sorry for asking again.

Mani

[2019-04-19 11:11] arvindrajachourasiya commented on #81
Me too facing issue................

[2019-04-23 06:28] AbdulazizDbekhi commented on #92
I have this issue too, I tried everything to solve it, nothing helped me. Please @ChaseFlorell, try to fix it. Thanks.

[2019-05-02 09:20] hemantramu commented on #92
Still facing the same issue in different solutions as well

[2019-05-02 11:22] breyed opened #93 "XML documentation file missing from NuGet package"
The NuGet package for Xfx.Controls (version 1.2.1) is missing `Xfx.Controls.xml`, which should be placed alongside `Xfx.Controls.dll`. This is preventing IntelliSense from appearing in the IDE.

[2019-05-08 21:06] dlebee commented on #44
any news?

[2019-05-10 09:25] RafaelVieira2323 commented on #89
Hi @ChaseFlorell

When you can, take a look and update Nuget.

'm sorry for always asking. And thank you.

[2019-05-13 14:23] sdobart commented on #83
@mrbelk Thanks for the writing the fix and doing a PR. @ChaseFlorell Thanks for staying up to date with this project and merging the PR in/doing a NuGet release!

[2019-05-15 06:53] MDemetrio commented on #92
I'm also facing this issue.
I did some research on this and looks like it's related with this [PR](https://github.com/xamarin/Xamarin.Forms/pull/5398#issue-256534311), specifically this [change](https://github.com/xamarin/Xamarin.Forms/pull/5398/commits/f175e8de92524288aec60facbbe1a83e154c841c#diff-02ef3a6cc97d3cf6bf5382f72cc615c1)
which removes the LayoutChange EventHandler from IVisualElementRen

[2019-05-21 07:54] MRomeror commented on #44
I have the same issue as @hemantramu Any news? Thanks

[2019-05-21 14:16] ChaseFlorell commented on #44
No news yet, would love a repro that I can run to see.

[2019-05-21 15:08] ChaseFlorell commented on #44
would anyone be willing to test a fix for me?

[2019-05-21 16:58] eamiguinho commented on #92
Having the same issue here, the only way to make it work is not to linked assemblies on the android project settings, but of course, these will raise the APK size quite a fair amount.

[2019-05-22 04:51] JFDionne opened #97 "On mainpage change I got error Object reference not set to an instance of an object"
Hi, thank for this controls.
When I change my App.mainpage to something else, the app crash and I got this error:

Object reference not set to an instance of an object

`  at Xfx.Controls.iOS.Renderers.XfxEntryRendererTouch.OnElementChanged (Xamarin.Forms.Platform.iOS.ElementChangedEventArgs1[TElement] e) [0x00015] in <f2149ff8a79944c98fa707a3abffd0b5>:0
  at Xamarin.Forms.Platform.iOS.VisualEleme

[2019-05-22 12:53] ChaseFlorell commented on #97
can you please give me a working repro of this issue?

[2019-05-24 04:30] JFDionne commented on #97
Yes, there we go:
https://github.com/JFDionne/Xfx.Controls.Test

But it's ptryy simple, just create a new projet, add your controls, put a newpage and run :)

[2019-05-30 13:13] GeorgeSpring commented on #44
Hello! Getting the same problem...

[2019-05-30 13:31] felipeleon73 commented on #58
See my  PR: #https://github.com/XamFormsExtended/Xfx.Controls/pull/98

[2019-06-03 13:06] gregersen79 commented on #44
Have the same issue.

Xamarin Forms: 3.6.0.344457
Xfx.Controls: 1.2.1
Android libraries: 28.0.0.1

Error:
The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void Xfx.Controls.Droid.Renderers.XfxCardViewRendererDroid::Xamarin.Forms.Platform.Android.IVisualElementRenderer.add_LayoutChange(System.EventHandler`1<Android.Views.View/LayoutChangeEve

[2019-06-04 12:41] csteeg commented on #97
@ChaseFlorell this is because in xamarin 4 Dispose is called correctly on the renderer (wonder why it didn't in previous versions though)... Control is null when getting in OnElementChanged, so the unsubscribes fail. So the onelementchanged should check if Control != null where applicable

[2019-06-10 13:18] sagarmp02 opened #99 "Maxlength is not working on XfxEntry"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:
* Device Tested On:
* Simulator Tested On:

### Affects

- [ ] iOS
- [ ] Android

### Expected Behavior

### Actual Behavior

### Steps to reproduce the Behavior

### Link to Github Reproduction (optional but recommended)

[Repro]()

# Feature Request:
Pleas

[2019-06-10 13:29] ChaseFlorell commented on #99
No details

[2019-06-10 13:29] #99 closed

[2019-06-12 19:40] michel7siqueira commented on #81
Reso

[2019-06-12 19:40] #81 closed

[2019-06-13 13:56] zwilkin opened #100 "UWP Support"
Just stumbled upon this library, and I'm not sure it's dev progress or maintenance, etc. but I'm just wondering if there are any future plans to implement this for UWP?

[2019-06-13 13:57] ChaseFlorell commented on #100
The only plans for UWP would be if someone wanted to take that platform on. I don't personally develop for UWP, so I don't have the knowledge or need. If you want to submit PR's, I'm happy to accept.

[2019-06-17 15:50] LaBoss commented on #92
+1 with the same problem when upgrading to Xamarin 4 starts giving Linker errors

[2019-06-18 15:35] hcd00045 commented on #44
I would. Just let me know how. Thanks.

[2019-06-18 23:36] rodrigueslg commented on #92
MDemetrio did a great job detailing the bug, so please fix it quickly

I have the same problem when running on Xamarin.Forms.3.6.0.344457

In debug mode there's no error, but in release mode there are linking erros

[2019-06-22 09:03] SagarPanwala commented on #19
Anyone is working on this ?

[2019-06-23 00:56] ChaseFlorell commented on #19
I haven't fixed this yet, but I do have a question. Are you wrapping your layout in a ScrollView?

[2019-06-23 01:01] SagarPanwala commented on #19
Yes it's wrap in scrollview, like below
Scrollview
     - Stack
          - Grid
              - combo
     -

On Sun, 23 Jun 2019, 6:26 a.m. Chase Florell, <notifications@github.com>
wrote:

[2019-06-23 02:17] ChaseFlorell commented on #19
if it's not too much trouble, could you copy/paste your XAML?

[2019-06-24 07:53] MRomeror commented on #44
Hi,
I have created a solution with the latest versions of Xamarin and xfx.Control.
It keeps giving error when compiling in release. I attached the project link.
https://drive.google.com/file/d/1Z9f0moaU_qkGM1RKlbtzG1oIwEuw-PcY/view?usp=sharing

[2019-06-25 15:01] RafaelVieira2323 opened #101 "xfxEntry problem with Focus"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control:1.2.1
* Device Tested On: samsung galaxy s9, xiaomi redmi note 3 pro
* Simulator Tested On:

### Affects

- [ ] iOS
- [x ] Android

### Expected Behavior

my entry does not lose the focus, when I press the "next" keypad.

### Actual Behavior

my text field lo

[2019-07-23 16:53] SagarPanwala commented on #85
@ChaseFlorell  : This is closed one and I probably should ask new, but my question is similar to this one.
I want to show some records by default on entry focus without typing anything. I tried Threshold 0 and -1, but it didn't work.

[2019-07-24 07:30] sarthak199526 commented on #85
@ChaseFlorell  take the code and add your specific condition

[2019-07-25 16:50] NiketanMhatre commented on #92
+1 with same problem in debug mode too with XF 4.1. Visual Studio 2019 16.2.0 and latest XFx control.

[2019-08-13 08:02] Nonobis opened #102 "Nuget update"
Hello,

@ChaseFlorell  :
Could you publish nuget version corresponding to Pull Request 98 (https://github.com/XamFormsExtended/Xfx.Controls/pull/98) of @felipeleon73.

It's already merged, we need this feature for a project.
Thanks You

[2019-08-13 17:24] RafaelVieira2323 commented on #101
We identify this bug in this issue : https://github.com/XamFormsExtended/Xfx.Controls/issues/89

-

[2019-08-19 07:53] mahmoudAbdin commented on #92
Me too facing the same problem .. any updates ?

[2019-08-22 12:04] codemasterblackperl opened #103 "Xfx Entry Readonly error"
#Bug
Able to edit Xfx entry even when I set it as readonly.

* Version Number of Control:
* Device Tested On: Lenovo k8 plus
* Simulator Tested On: Google pixel

### Affects

- [x] iOS
- [x] Android

### Expected Behavior
Xfx Entry shouldn't allow to edit when clicked on readonly

### Steps to reproduce the Behavior
Just add readonly field

[2019-09-02 10:43] jakub-wisniewski commented on #102
This.

It is indeed much needed to update this feature via nuget.

[2019-09-10 09:46] UA-Pace opened #104 "Xfx ComboBox Gaps between list items"
How to **Decrease the gap** between **XfxCombobox** list items?

# Bug

* Version Number of Control:
* Device Tested On: Android
* Simulator Tested On:

### Affects

- [ ] iOS
- [x] Android

### Expected Behavior
 There should be an option to reduce the gap between list items of XfxCombobox

Thank you.

[2019-09-11 02:12] j-h-m commented on #97
Late comment... but I ran into the same error using Xamarin.Forms 4.X on iOS.

My solution was to downgrade Xamarin.Forms to version 3.5.0.129452 (which is the version this package is built on).

[2019-09-27 13:24] thefenry commented on #44
Any update on this? Seems like many have been having the same issue for a while.

[2019-09-30 20:37] ArthurConceicao commented on #44
Same issue, haven't found a solution yet

[2019-10-10 17:25] JimmyBarrientos commented on #97
Make sure to add the **ExportRenderer**. I'm brand spanking new to xamarin and C#, so I figured this would help those still learning. Feed control being used in page (XfxEntry) and your custom renderer (CustomXfxEntryRendererTouch).

[code]

[2019-10-17 11:21] MRomeror commented on #92
I have the same problem... Any solution?

[2019-10-31 12:41] Adlorem commented on #44
With newer version of Xamarin there is and issue between system drawing color and xamarin forms color. Only solution is to download source upgrade packages, fix this issue and reference dll locally to your project.

[2019-11-19 15:08] JackMakhoul commented on #97
I did implement the CustomXfxEntryRendererTouch but i'm still getting the same error any ideas?

[2019-11-21 14:19] DeShrike commented on #92
I have the same issue.
I have created a PR to update packages.
In my initial tests this issue seems to be fixed with these updates.

[2019-12-05 19:12] rubberydev commented on #97
This solved my problem, thanks @JimmyBarrientos

[2019-12-10 15:52] butter5 commented on #97
Using Xamarin Forms 4.3, I've tried the above but the CustomXfxEntryRendererTouch doesn't get instantiated. I've added the assembly too. Still getting the same error. Does anybody have any more ideas please?

[2019-12-10 16:49] j-h-m commented on #97
Someone needs to update this library to run on a newer version of XF. I wound up using an entry and listview on a separate page activated by a button to get the autocomplete functionality.

[2019-12-10 18:34] butter5 commented on #97
I see. Looking at the commits, it looks like this codebase isn't maintained any longer.

[2019-12-10 18:41] ChaseFlorell commented on #97
I'm the owner of the code, unfortunately I haven't had the need to use this for quite some time, so I've let it fall into disrepair. I'd like to continue maintaining it, it's just a pile of time that I don't have. I do take PR's, however I'll still need to put some effort into deploying nuget updates.

[2019-12-15 07:27] SagarPanwala commented on #19
I'm able to reproduce this with your sample as well. Just replace this Control.xaml file will be enough to reproduce the issue and don't forgot to change extension from txt to xaml.

[ControlsPage.txt](https://github.com/XamFormsExtended/Xfx.Controls/files/3964696/ControlsPage.txt)

[2019-12-18 22:17] rubberydev commented on #44
Hi everyone.

I have the same issue:

C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(2056,5): error XALNK7000: Mono.Linker.MarkException: Error processing method: 'System.Void Xfx.Controls.Droid.Renderers.XfxCardViewRendererDroid::Xamarin.Forms.Platform.Android.IVisualElementRenderer.add_LayoutChange(System.EventHandler`1<Andro

[2019-12-22 14:53] frozendo opened #106 "Red Block appears behind CardView"
When I have a CardView on the screen and try to hide it with the IsVisible property, which binds to a variable in my modelView, a red block is displayed on the application screen where the cardView was located. This happens just in iOS

# Bug

* Version Number of Control: 1.1.3
* Device Tested On: iPhone 11 (but the problem occurs in every iOS device)
* Simulator Tested On:

### Affects

- [x] iOS

[2019-12-23 18:49] rubberydev commented on #92
This issue is related to #44 , Please @ChaseFlorell is it possible, provide us a solution.

The only way to make it work is not to linked assemblies on the android project settings, but of course, these will raise the APK size quite a fair amount. as @eamiguinho said.

Thanks in advance.

[2020-01-07 19:31] jokogarcia opened #107 "Completed event and ReturnCommand do not work"
#74 Bug
The native Xamarin.Forms Entry view has a Completed event and a ReturnCommand that can be used to run an action when the user presses the "return key". These properties are exposed in Xfx.Entry but have no effect.
Simply changing the "xfx.entry" into a vanilla "Entry" item, causes the event / command to fire again.

* Version Number of Control:1.2.1
* Device Tested On: Alcatel TCL 5033A w/

[2020-01-14 12:57] jokogarcia commented on #53
I'm having a similar issue when trying to set the Keyboard flag to CapitalizeCharacter (or any other value). I tried doing it in XAML and in .cs, It just gets ignored in iOS. In Android, it works as expected.

Did you (or anyone) find a workaround?

[2020-01-17 15:33] petemacko commented on #64
This was happening to me when the card view was on a Xam Shell page and the page was navigated away from, then returned to. Pulled the code down and added it to my project, bumped the .NET version in Xfx.Controls up to netstandard2.1 from netstandard1.3 -- no more null reference error.

[2020-01-24 16:25] pablortpo commented on #92
I have this error, any solution?

[2020-01-29 13:09] fchihe commented on #92
Yes there is a solution.
The solution provided @DeShrike is working... but because the owner (@ChaseFlorell ) hasn't accept @DeShrike  pull request yet, you will have to do it by yourself (and in my opinion it's a very ugly way to fix the problem)
What I did :
1. Download Xfx.Controls sources.  Update Xamarin.Forms references from version 3.5.0.129452 to version 3.6.0.709228
2. Compile Xfx.Control

[2020-02-13 15:52] tiberiup commented on #97
@JackMakhoul, @j-h-m, I had to create a new class inheriting from **XfxEntry**, and asociate the renderer with it:
[code]
[code]
Obviously in your page you need to use this control instead of the original one, and you have to go through the same process if you're using **XfxComboBox** too.

[2020-02-16 01:13] pablortpo commented on #92
Thanks @fchihe , i will try to do.

[2020-02-19 21:06] sereoja commented on #86
Any updates on this? Looking for same question.

[2020-02-21 07:59] pavanalluri007 commented on #92
Thanks @fchihe this worked for us.

[2020-03-20 12:19] jakub-wisniewski opened #108 "How to make sorting algorithm async so it won't block the UI?"
I have many items to sort in XFX Picker. When I press the key, the sorting algorithm is working really, really slow and it blocks the UI - app is not responding. I would like to make it work asynchronously as the background task so it won't block the UI. Is it possible? If so, how to accomplish that?

[2020-03-26 23:23] devfabiorm opened #109 "Conflict with method PopToRoot of INavigation"
Please fill out either the bug or feature request section and remove whatever section you are not using.

# Bug

* Version Number of Control: 1.2.1 and olders
* Device Tested On:
* Simulator Tested On: Simulator

### Affects

- [x ] iOS
- [ ] Android

### Expected Behavior
 When the order is over, pop to root.

### Actual Behavior
When the order is over nothing happens, no error is reported on con

[2020-06-01 11:14] agat366 opened #110 "It doesn't seem the control works when in DataTemplate of repeating control."
Not sure what to specify. It just doesn't work.

I tried to use the control inside of ListView-like template.
The way I define it is similar to how you do this withing ListView:

                            <controls:RepeaterView.ItemTemplate>
                                <DataTemplate>
                                       <xfx:XfxComboBox Placeholder="Enter prey"

[2020-06-03 23:28] kiddailey commented on #53
Yes, it is indeed setting the KeyboardType using .ToNative() that is at the root of the issue.  You can illustrate this by replacing the SetKeyboard() with the following, which no longer auto-capitalizes:

[code]
Of course, this obviously doesn't solve the issue since it would then ignore your Keyboard property altogether :)  The solution seems to be to update the SetKeyboard to use ApplyKeyboard(

[2020-06-19 05:59] ShivamSingh1 commented on #44
Install 1.0.4 version and then remove bin/obj and then rebuild. It's work for me

[2020-08-12 05:42] arunrajrgithub commented on #44
Thank you ShivamSingh1.  It worked.  Thank you so much.

[2020-08-15 04:35] eyeveye opened #111 "xfx:entry ClearButtonVisibility"
for Entry, the ClearButtonVisibility is not functioning.

[2020-09-07 15:45] icamn13 commented on #44
Downgrading the version from 1.2.1 to 1.1.3 and then removing bin/obj and clean and rebuild worked for me.
Thanks @ShivamSingh1

[2020-09-17 16:30] AlisuTech commented on #92
We were able to fix this issue following this process;

- Clone XFXControl repository

- Update the Android Support Nuggets to 28.0.0.3

- Update Xamarin Forms Nugget Package to 3.6+

- Rebuild the Xamarin Forms Shared Project, Android and iOS projects

- Copy the dlls for the three projects xfxcontrol, xfxcontrol.droid, xfxcontrol.ios

- Uninstall the xfxxontrol Nuget Package and add the dlls as

[2020-10-24 11:19] Alicg commented on #110
Doesn't work for me as well. Have you found any solution?

[2020-11-11 16:34] BeranekCZ commented on #19
I have same problem. When ComboBox is inside ContentPage.Content->ScrollView->StackLayout everything is ok. But when I put ComboBox inside ContentPage.Content->ScrollView->StackLayout->StackLayout or AbsoluteLayout I get same error. List of choices is over entry